<div class="container py-2 ">
    <h1 class="wsite-content-title" style="text-align: center;">History of the Harmony Club of Worcester</h1>
    <p class="wsite-content-title">
    <div class="row">
        <div class="col-5 m-5">
            <span style="font-size: medium;">The Harmony Club of Worcester was founded in 1925 by a group of far-sighted Franco-Americans who saw the
            need for a business and professional men's organization. Their goal was to bring together the most prominent members of the Franco-American community to discuss the civic,
            social and business problems of the day and determine what services they might render to the people of the Worcester area. 
        </div>
        <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
    </div>
    <div class="row">
        <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
        <div class="col-5 m-5">
            Eighty-six Franco-Americans of Worcester
            and Worcester County met on February 19, 1925, in a Chamber of Commerce room on Franklin Street to organize this civic betterment club. Xavier Faucher, generally recognized
            as the founder of the Harmony Club, was unanimously elected President. Dr. Eugene Messier, elected the first treasurer, suggested the name "Harmony Club". The constitution
            and by-laws were patterned after those used by such civic groups as the Rotary and Kiwanis Clubs. The stated purpose of the Harmony Club is "to stimulate and perpetuate a
            spirit of friendliness and cooperation among the Franco-American business and professional men of Worcester County." Its members have the opportunity to meet men "who know
            good fellowship," to be "enlightened as to other men's work, problems and successes" and "to be of service to one's fellow man and society in general." They are expected 
            to "attend meetings regularly, to assume responsibilities cheerfully, thoughtfully and gracefully, to be kindhearted, broad-minded and constructive in thought and actions."
        </div>
    </div>
    <div class="row">
        <div class="col-5 m-5">
            The first regular Harmony dinner-meeting was held on March 5, 1925, at the Bancroft Hotel. Walter S. Young, Superintendent of the Worcester Schools, was the main 
            speaker and chose for his topic "Keeping Faith with the Founders." At that meeting, the club admitted fifteen new members, bringing the total membership to 101. The second 
            regular dinner meeting, known as "Assumption Night" was held two weeks later at the same hotel. Reverend Polyeucte Guissard, A.A., professor of philosophy at Assumption College,
            addressed the members. The Assumption Orchestra provided music during the dinner and for the community singing which followed. 
        </div>
        <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
    </div>
    <div class="row">
        <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
        <div class="col-5 m-5">
            Since its founding, the Harmony Club has
            generally held a dinner-meeting or special event every month except during the summer months Meetings are held on the second Thursday of each month. There are at least two
            Ladies' Nights each year. Frequently the officers and directors hold special meetings, and chairmen of various committees conduct their own meetings. 
        </div>
    </div>
    <div class="row">
        <div class="col-5 m-5">
            The early years
            of the Harmony Club witnessed a steady increase in new members. Then, in 1934 and 1935, perhaps as a result of the Great Depression, the membership declined to around 105 men.
            After another period of gradual expansion, membership fell off during the years of World War II. After the war, it grew slowly again until 1952,
            when a dramatic surge took place. Under the dynamic leadership of Henry Alarie, the membership committee enrolled 52 members that year (15 from Leominster).
            The work of the Alarie Committee brought the total membership up to 196 in March 1953. For the next 25 years the club stayed somewhat stable with some ups and downs.
            In 1987, the club enjoyed an increase in membership due to J.E. Paul Turcotte and the major event that he planned, "Le Festival Worcester 1987."
            This success was short lived. Due to a very slow economy of the late 80's and early 90's membership suffered greatly. Also in this period of time,
            many of our long-term members moved away or passed away. 
        </div>
        <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
    </div>
    <div class="row">
        <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
        <div class="col-5 m-5">
            However, during the terms of office under Edward O. Bourgault, (1994-1998),
            the club started a growth spiral to its present membership of 125. Due to the severe situation at this period of time, Edward O. Bourgault became the only president to serve more than one term.
            In fact, he served 5 terms. Also a first, Robert L. Picard served as Vice-President for 4 years. Other loyal members became recycled officers and board members.
            We had past Presidents, Officers and Directors return to assist as Secretary, Treasurer, Sergeant-at-Arms and Directors. The Harmony Club is now back in full rotation of officers.
            In this special 75th anniversary year for the Harmony Club, club President Ronald L. Gadbois is organizing the celebration events on October 21, 2000. 
        </div>
    </div>

    <div class="row m-5">
        <div class="col-5 m-5">
            Harmony Club special committees over the years have included Blood Bank, Civic, Fraternal, Religious Programs, Scholarship and Youth, in addition to the standing committees. During the existence of the Federation of Franco-American Societies, the Harmony Club was one of its key members. 
                </div>
                <div class="col-5 text-center"><img class="img-fluid position-relative top-0 start-0" src="https://www.jewelryshoppingguide.com/wp-content/uploads/2019/05/what-is-the-fleur-de-lis.png" width="250" height="250"></div>
            </div>
            <div class="row">
                <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Accordion Item #1
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The projects of the Harmony Club have been largely civic in character and scope. Politics, however, is prohibited both as topic of conversation and as a motive for attendance.
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Throughout its history, the Harmony Club has made significant contributions to the city and county of Worcester. In 1925, the first year of its existence, the club donated over $1,000 to purchase, together with other service groups, the Boy Scout Camp, known as Treasure Valley, in Paxton, Massachusetts. Five years later, the club sponsored the Harmony Boy Scout Troop #45. This troop was turned over to Notre Dame Church in 1935. 
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The Harmony Club's interest in the youth of the Worcester area has been manifested in other ways. In 1928, the organization sponsored a scholarship fund to help needy students complete their education. The fund continued on a gift basis until 1947 when it was changed to a non-interest-bearing loan. From 1947 to 1986 the Club has contributed approximately $85,000 to its Scholarship Program. Since 1986, the club has contributed another $60,000 to its Scholarship Program. In 1935, the Harmony Club held its first St. Anne's Orphanage Christmas party. From that year until 1950, an annual dinner was held and over $2000 a year was raised for the benefit of the orphanage. On September 13, 1942, the club donated a large swimming pool to the orphanage. In the spring of 1950, four playgrounds were dedicated at the orphanage. Members of the Harmony Club raised and gave $30,000 for these facilities. The club also contributed athletic equipment both to the orphanage and to the Archibald LeMieux Camp in Leicester, founded for needy youngsters by Father Moïse R. Ledoux of Saint Anthony's Parish and supported by Mr. LeMieux, a prominent Harmonian. 
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #4
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The Harmony Club has sponsored or supported several other meritorious projects. It maintained a prominent glee club directed by Harmonian Fred Gamache. This musical ensemble performed on radio station WTAG. In 1945, the club conducted a War Bond Sale Drive which raised $550,000 even though the quota for the club was $290,000. The overwhelming success of this effort was due in large measure to the work of Henry and Thomas St. Pierre of the St. Pierre Chain Company. On May 8, 1952, the club held a party for Bishop John Wright, the first bishop of the newly-created Worcester Diocese, and gave him a check for $550, which he donated to a worthy cause. Recently, the club has given large cash grants to St. Francis Home for the Aged, the Worcester Area Associations for Retarded Children, Friendly House and the Sisters of the Assumption. Since 1975, the club has contributed handsomely to the founding and the funding of the French Institute of Assumption College.
                Most recently, the club has been providing support to Save St. Joseph Church, the French Institute, St. Francis Home for the Aged, Friendly House, Jeremiah's Inn, Chez Marcel, Bike Across America, St. Mary's Food Pantry, bike rides for various charities and finally WCUW Community Radio's program L'heure Française, hosted by Harmonian Marcel Raymond. 
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Accordion Item #5
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                In addition to gifts of money, members of the Harmony Club have contributed their talents and services to the needy of the Worcester area. 
            
                The Harmony Club has held annual communion breakfast and suppers. At the first of these affairs, on May 16, 1948, at the Sheraton Hotel, Reverend Wolfgang Fortier of the La Salette fathers delivered the address in French. Bishop Bernard Flanagan was made an honorary Harmony member at a Father and Son Communion Supper on April 12, 1966. 
                
                The Harmony Club has occasionally sponsored debates, either between its members or with special guests. Of particular interest, was a formal debate, at a regular club meeting, between Mayors Thomas O'Connor, Jr. of Springfield and James D. O'Brien of Worcester. Another significant debate examined the question of fluoridation. Drs. H. Charles Gosselin and Raymond Grenier were active in the debate. 
                
                In 1955 the Harmony Club instituted the LaFayette Award. Named in honor of the Marquis de LaFayette, a French nobleman who served as a Major General under George Washington in the Continental Army during the American Revolution. The award, designed by Mrs. Normand D. Nault, is a bronze bust of the courageous military leader. The first recipient of this award was the Reverend Wilfrid J. Dufault, A.A., then Superior General of the Augustinians of the Assumption. The second LaFayette Award was given to the Honorable Henri Goguen of Leominster, at that time Massachusetts Commissioner of Public Safety and President of the Union Saint-Jean-Baptiste. The third LaFayette Award went to Archibald R. LeMieux, a prominent Worcester industrialist. The fourth and last recipient to date was William E. Aubuchon, Jr., the successful President of the Aubuchon chain of hardware stores founded by his father. The banquet honoring Mr. Aubuchon, which coincided with the Harmony Club's 50th anniversary celebrations, took place at the Sheraton Lincoln Inn on April 8, 1975. 
                
                Over the years, the Harmony Club has held many memorable meetings. One of the most enjoyable occurred on June 14, 1945, at the Wright Machine Company as guest of Mr. LeMieux. Another outstanding meeting involved a reception, on November 7, 1946, for the Honorable Albert Chambon, French Counsel General in Boston. Ladies were invited and dinner was served at the Sheraton Hotel. In the early 90's, we had the Counsel General of the Quebec Province speak at the Worcester Club in downtown Worcester. This was also a ladies evening. Of special significance also, have been the various anniversary meetings of the club. The 25th anniversary was celebrated at the Sheraton Hotel on February 19, 1950. The guest of honor at this meeting was the Honorable Antoine Rivard, Minister of State and Attorney General for the Province of Quebec. 
             
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #6
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The nearest the Harmony Club came to being honored by a United States President was in March 1952 when the scheduled guest speaker was John F. Kennedy, then a Massachusetts Congressman. His flight was grounded in New York because of weather conditions and so he did not appear. 
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #7
            </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                On January 23, 1986, Vice-President J.E. Paul Turcotte asked the Harmony Club to sponsor the first Franco-American Festival Ball. This event was the fund raiser for "LeFestival Worcester 1987," the first Franco-American Festival. The festival was held on September 19th &amp; 20th, 1987. The Harmony Club donated $800 to sponsor this notable event. This event attracted large crowds and much praise. The festival, including a very large parade, was greatly affected by monsoon type weather. Because of this event, the Harmony Club attracted 27 new members. 
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #8
            </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Since 1988, the club has been involved with events such as the April in Paris dinner-dance evenings organized by J.E. Paul Turcotte and the Celebration Worcester in 1988 &amp; 1989. In conjunction with WCUW Community Radio and the Harmony Club of Worcester, Marcel Raymond &amp; club President Edward O. Bourgault organized the French series of free concerts at Elm Park in 1998 &amp; 1997. French signers Lucie Therrien (1998) and Lillianne Labbe (1997) entertained us at this free concert. The club continues to support, and every four or so years run, the "Annual Friendship Dinners." This year, our 75th anniversary, we hosted the 31st Annual Friendship Dinner. This event brings together various other ethnic groups for an evening of friendship and harmony. The original groups comprised of UNICO (Italian), AHEPA (Greek), PROBUS (Jewish) &amp; HARMONY (French). We now have more groups that have joined us. In 1998, the club assisted with the "Worcester Sesquicentennial" festivities. Marcel Raymond was the club's representative at this very busy event. 
            
            The club's major fund raising event has been its annual golf tournament. Robert L. Picard has been the tournament organizer for the last dozen years. Over $60,000 was generated from 1991 to 2000 when the club named its annual golf tournament the "The Bob Picard Harmony Club Golf Tournament" to honor Robert L. Picard for the many years that he ran the tournament in order to support the club's scholarships and civic awards. The 1999 and 2000 golf tournaments netted over $7,000 each year. The Harmony Club plays host to over 124 golfers. </span></p>
            </div>
            </div>
        </div>
        </div>
       
    </div>
    <h2 class="wsite-content-title" style="text-align: center;">98th Anniversary | February 19th, 1925 - February 19th, 2023</h2>
</div>
