<h2 style="text-align: left;", class="px-4">Harmony Club Officers - 2018</h2>
<div class="px-5 text-start">
    <p>Dave Desroches - President<br>Ralph Berthiaume - Vice President<br>Cless Dupuis - Treasurer<br>Peter Cutillo - Secretary<br>David Richard - Sgt.-At-Arms</p>
</div>

<div class="row px-4">
    <h3>Board of Directors:</h3>
</div>
<div class="row px-5">
    <div class="col-8">
        <p style="text-align: left;">Dave Desroches - Cless Dupuis &nbsp;- Steve Manseau - Ralph Berthiaume - Armand G. Côté - Ronald L. Gadbois - Edward O. Bourgault - Vin Piucci - Mike Marchand &nbsp;- Mike Manseau ~ Peter Cutillo</p>
        <p style="text-align: left;">Historical Committee: Ed Bourgault<br>Fraternal Committee: Mike Marchand</p>
    </div>
</div>