<p style="color: green"><%= notice %></p>

<h1 class="text-center">Our Sponsors</h1>
    <!-- Page to display all of the sponsors -->
    <div class="row">
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Rollstone Bank and Trust logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBNdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7565798dda676fb658272c20a63936043b775af6/rbt.jpeg">
        <div class="card-body text-center">
            <h5 class="card-title">Rollstone Bank and Trust</h5>
            <a class="btn btn-primary" target="_blank" href="https://www.rollstonebank.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Alfred Roy &amp; Sons Funeral Home logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBOUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--17bc2dc68b35ac358493c7dfabba515ccbaab70c/arsfh.jpeg">
        <div class="card-body text-center">
            <h5 class="card-title">Alfred Roy &amp; Sons Funeral Home</h5>
            <a class="btn btn-primary" target="_blank" href="https://www.royfuneral.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
        <div class="card-body text-center">
            <h5 class="card-title">Turnpike Autobody and Richards Car Wash</h5>
            <a class="btn btn-primary" target="_blank" href="">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Mann's R.V. and Trailer Sales and Service logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBUZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e19a9343f6921ddc758e130a5b4748d761e5170c/Manns-RV-Logo-Updated.png">
        <div class="card-body text-center">
            <h5 class="card-title">Mann's R.V. and Trailer Sales and Service</h5>
            <a class="btn btn-primary" target="_blank" href="https://www.mannsrv.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
        <div class="card-body text-center">
            <h5 class="card-title">Highland Chiropractic Family Care</h5>
            <a class="btn btn-primary" target="_blank" href="https://www.highlandfamilycare.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Cornerstone Bank logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBUdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--017783805a223d9b1b1f21aab77c0ab7bf5cdce4/CB-Logo-RGB-1.png">
        <div class="card-body text-center">
            <h5 class="card-title">Cornerstone Bank</h5>
            <a class="btn btn-primary" target="_blank" href="https://cornerstonebank.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Herlihy Insurance  logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBVUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--23f38042dbe094dd817ed0fa1e47c6fa9e1e30d4/logo.jpg">
        <div class="card-body text-center">
            <h5 class="card-title">Herlihy Insurance </h5>
            <a class="btn btn-primary" target="_blank" href="https://herlihygroup.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Armand Cote Ameriprise logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--803092fdf50ae2c0e55c2e01a81ef499fc22301f/ameriprise.png">
        <div class="card-body text-center">
            <h5 class="card-title">Armand Cote Ameriprise</h5>
            <a class="btn btn-primary" target="_blank" href="https://www.ameriprise.com/">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
          <img class="d-flex mx-auto h-50 w-auto mw-100" alt="Spencer Exchange Club logo" src="https://harmonyclubofworcester.org/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ea5d87d6321dcbf7b1a1ae837d2851f999066d6a/Exchange-Emblem-full-color_1.jpg">
        <div class="card-body text-center">
            <h5 class="card-title">Spencer Exchange Club</h5>
            <a class="btn btn-primary" target="_blank" href="">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
        <div class="card-body text-center">
            <h5 class="card-title">Ed Bourgault, Retired C.P.A.</h5>
            <a class="btn btn-primary" target="_blank" href="">Visit Site</a>
        </div>
      </div>
      <div class="justify-content-center col-lg-4 col-md-6 col-sm-12 pb-3 photoContainer">
        <div class="card-body text-center">
            <h5 class="card-title">Ed Bourgault, Retired C.P.A.</h5>
            <a class="btn btn-primary" target="_blank" href="">Visit Site</a>
        </div>
      </div>
    </div>

<div id="sponsors">
  <% @sponsors.each do |sponsor| %>
    <%= render sponsor %>
    <p>
      <%= link_to "Show this sponsor", sponsor %>
    </p>
  <% end %>
</div>

<%= link_to "New sponsor", new_sponsor_path %>
